body {
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
}

.netflix {
    width: 140px;
    height: 250px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
        90deg,
        #b1060e 0,
        #b1060e 50px,
        transparent 50px,
        transparent 90px,
        #b1060e 90px,
        #b1060e 140px
    );
}